/********************
	* FEATURE CAROUSEL *
********************/
.carousel-container {
	position:relative;
	width:100%;
}
#carousel {
	height:380px;
	width:100%;
	background-color:#CCC;
	position:relative;
	margin-bottom:0.5em;
	font-size:12px;
	font-family: Arial;
}
.carousel-image {
	border:0;
	display:block;
}
.carousel-feature {
	position:absolute;
	top:-1000px;
	left:-1000px;
	border:2px solid #5d5d5d;
	cursor:pointer;
}
.carousel-feature .carousel-caption {
	position:absolute;
	bottom:0;
	width:100%;
	background-color:#000;
}
.carousel-feature .carousel-caption p {
	margin:0;
	padding:5px;
	font-weight:bold;
	font-size:12px;
	color:white;
}
.tracker-summation-container {
	position:absolute;
	color:white;
	right:50%;
	bottom:30px;
	padding:3px;
	margin:3px;
	background-color:#000;
}
.tracker-individual-container {
	position:absolute;
	color:white;
	left: 0%;
	bottom: 5px;
	padding:0;
	margin:0;
}
.tracker-individual-container li {
	list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
	margin:0 3px;
	padding:0 3px;
	color:white;
	text-align:center;
	background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
	color:white;
	font-weight:bold;
	background-color:#000;
}

#carousel-left {
	position:absolute;
	bottom:33px;
	left:220px;
	cursor:pointer;
}
#carousel-right {
	position:absolute;
	bottom:33px;
	right:220px;
	cursor:pointer;
}
.carousel-caption {
right: 20%;
left: 0%;
padding-bottom: 0px;
padding-top: 0px;
}